:root {
  --background-rgb: 255 255 255;
  --orange-rgb: 255 79 0;
  font-weight: 100;
  font-style: normal;
  --animation-timing: 200ms ease-in-out;
}

* {
  font-family: "Space Mono", serif;
}

.foreground {
  z-index: 10;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.foreground,
.hero,
header,
.carousel,
.projectes,
footer {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

/* Clases */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.titol {
  font-size: 1.5rem;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: left;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.8s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Navigator */
header {
  position: fixed;
  bottom: 3%;
  z-index: 10;
}

.reveal-nav {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-nav.visible {
  opacity: 1;
  transform: translateY(0);
}

#navigator {
  padding: 5px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(5, minmax(70px, 1fr));
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.836);
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.button {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
  pointer-events: all;
  font-size: 0.8rem;
  font-weight: lighter;
}

.button.zone {
  background-color: rgb(255, 102, 13);
  border: 1px solid rgb(255, 158, 13);
}

.button:hover {
  border-color: rgb(78, 78, 78);
}

.button {
  text-decoration: none;
  font-size: 0.75rem;
  color: rgb(173, 173, 173);
}

/* About Me */
#hero-text {
  position: relative;
  top: -5vh;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.836);
  padding: 10vh 10vw;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  color: rgb(196, 196, 196);
}

#title {
  font-size: 2rem;
  flex-direction: column;
  text-shadow: rgba(0, 0, 0, 0.295) 0px 2px 4px;
  color: rgb(233, 233, 233);
}

.parrafo {
  font-size: 1.1rem;
}

#title > h1 {
  font-size: 3rem;
}

#title > h1,
h3 {
  margin: 0;
}

/* Background */
#container {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  pointer-events: none;
  z-index: 0;
}

#container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
  pointer-events: none;
  z-index: 0;
}

.tile {
  border: 1px solid rgb(0 0 0 / 2%);
  transition: background-color 500ms;
  height: 1.2rem;
  width: 1.2rem;
  pointer-events: auto;
}

.tile:hover {
  background-color: rgb(var(--orange-rgb));
  transition-duration: 0ms;
}

/* Carousel skills */
.carousel {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills img {
  width: 50px;
  height: 50px;
  pointer-events: all;
  transition: all 0.2s ease-in-out;
}

#skills img:hover {
  transform: scale(1.05);
}

#skills {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20vh;
}

.contacts {
  width: 50vw;
}

.contacts li a img {
  transition: all 0.2s ease-in-out;
  pointer-events: all;
}
.contacts li a:hover img {
  filter: invert(37%) sepia(100%) saturate(2698%) brightness(100%)
    contrast(109%);
  transform: scale(1.05);
}

/* === PROJECTS === */
.projectes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  border-radius: 5px;
  pointer-events: all;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  min-height: 350px;
  max-width: 350px;
  background: black;
  transition: all 0.2s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg) center/cover no-repeat;
  opacity: 0.45;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card a {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 45vh 1vw 1vh 1vw;
  text-decoration: none;
  color: white;
}

.card:hover {
  border: 1px rgba(100, 100, 100, 0.534) solid;
  transform: scale(1.004);
}

@media (max-width: 768px) {
  #title > h1 {
    font-size: 2rem;
  }

  #title > h3 {
    font-size: 1.7rem;
  }

  #hero-text > p {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  #projects {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #hero-text {
    padding: 5vh 10vw;
  }

  #hero-text > p {
    font-size: 1rem;
    margin: 3px;
  }

  #title > h1 {
    font-size: 1.6rem;
  }

  #title > h3 {
    font-size: 1.2rem;
  }

  #projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    justify-items: center;
  }

  .projectes {
    height: 150vh;
  }
}

/* Experiencia */
.experience {
  position: relative;
  top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleExp {
  margin: 3vh 0;
}
.experienceList {
  border-inline-start: 1px solid #79797959;
  list-style: none;
  position: relative;
}
.experienceItemList {
  padding: 0 0 6vh 15px;
}
.experienceItemList:nth-child(2) {
  padding: 0 0 0 15px;
}
.decorativeCircle {
  height: 10px;
  width: 10px;
  background-color: #afafaf;
  border-radius: 100%;
  position: absolute;
  left: -5px;
  margin-top: 8px;
}
span {
  color: rgb(87, 87, 87);
  font-weight: lighter;
  font-size: 0.7rem;
}
.experienceItemList li:first-child {
  margin-top: 1vh;
}
